.home-page {
  height: 80vh;
  background-position: center;
  opacity: 120%;
}

@media screen and (min-width: 992px) {
  .home-page {
    margin-left: 300px;
  }
}

.content-container {
  padding-top: 200px;
  filter: brightness(100%);
}

.typewriter-effect {
  font-family: "Poppins", sans-serif;
  color: rgb(255, 255, 255);
  font-weight: 600;
  text-transform: capitalize;
  background-clip: text;
}
.hi-class {
  font-family: "Times New Roman", Times, serif;
  font-weight: 600;
  font-size: 2.2rem;
  color: cyan;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4);
}
.button-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.button-container > button:hover {
  transform: scale(1.05);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transition: 0.5s;
}

.social-media > a {
  border: 2px solid white;
  border-radius: 50%;
  padding: 8px;
}

.social-media {
  display: flex;
  justify-content: center;
}
.social-media > a {
  animation: iconUP 0.7s linear infinite alternate;
}

@keyframes iconUP {
  to {
    transform: translateY(-10px);
  }
}

.social-media:hover {
  transition: 1s;
}
