@media screen and (min-width: 992px) {
  .tech-stack {
    margin-left: 300px;
  }
  .project-heading {
    padding: 1rem;
  }
}

.tech-container {
  margin-top: 1rem;
  margin-left: 0.2rem;
}

.tech-container .card {
  box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
  animation: cardUP 0.7s linear infinite alternate;
}

@keyframes cardUP {
  to {
    transform: translate(-2px);
  }
}

.tech-container .card:hover {
  transform: scale(1.04);
  background-color: blueviolet;
  color: white;
  cursor: pointer;
  transition: 1s;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.stack-container {
  margin-top: 1rem;
}
